@import "../styles/_ui";

.text {
  &--size {
    &-x-small {
      font-size: $font-x-small;
    }

    &-small {
      font-size: $font-small;
    }

    &-medium {
      font-size: $font-medium;
    }

    &-large {
      font-size: $font-large;
    }
  }

  &--color {
    &-light {
      color: $font-color-light;
    }
    &-regular {
      color: $font-color-regular;
    }
  }
}