@import "../ui/styles/_ui";

.counter {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;

  h1 {
    color: $white;
    font-size: 100px;
  }
}