@import "../styles/_ui";

.bubble-wrap {
  // put intended :)
  width: 100%;
  margin-bottom: $spacing-small;
}

.bubble {
  max-width: 300px;
  padding-top: $spacing-medium;
  padding-bottom: $spacing-medium;
  border-radius: $radius-medium;

  &--self {
    background-color: $primary;
  }

  &--other {
    background-color: $secondary;
  }

  &--highlight {
    &.bubble--self {
      background-color: darken($primary, 10%);
    }

    &.bubble--other {
      background-color: darken($secondary, 10%);
    }
  }

  &--fadelast {
    opacity: 0.1;
  }
}

.bubble__title {
  width: 100%;
}