@import "./components/ui/styles/ui";

.chat-body {
  max-height: 100vh;
  background: $body-background;
  color: $font-color-regular;
  padding-bottom: 300px;
}

.conversation {
  width: 100%;
  height: calc(100vh - 300px);
  overflow: auto;
}

.editor-space {
  position: absolute;
  bottom: 0;
  height: 300px;
  width: 100%;
}